h1 {
  font-family: 'Satisfy', cursive;
}

h2 {
  font-family: 'Satisfy', cursive;
}

body {
  margin-top: 100px;
}

p {
  font-family: 'Josefin Sans', sans-serif;
}


/* navbar styles */
.navbar-brand {
  font-family: 'Satisfy', cursive;
  font-size: 30px;
  color: #ef5092;
}

.navbar-default .navbar-brand {
  color: #ef5092;
}

.navbar-header {
  padding-bottom: 70px;
  padding-top: 10px;
}

.navbar-nav {
  padding-top: 40px;
  font-family: 'Josefin Sans', sans-serif;
}

.navbar-nav > li > a {
  font-size: 20px;
}

.navbar-default .navbar-nav > li > a {
  color: #ef5092;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #ed80b9;
}

.navbar-default .navbar-brand:hover {
  color: #ed80b9;
}

.navbar-default {
  background-color: #66ccff;
}

@media (min-width: 1000px) {
  .navbar-header {
    padding-bottom: 70px;
    padding-top: 10px;
  }

  .navbar-nav {
    padding-top: 40px;
    font-family: 'Josefin Sans', sans-serif;
  }
  .navbar-brand {
    font-family: 'Satisfy', cursive;
    font-size: 60px;
    color: #ef5092;
  }
  .navbar-default {
    background-color: #66ccff;
  }
}
/****************/


/* login styles */
.login-form-1 {
  max-width: 300px;
  border-radius: 5px;
  display: inline-block;
  font-family: 'Josefin Sans', sans-serif;
}

.main-login-form {
  position: relative;
}

.login-form-1 .form-control {
  border: 0;
  box-shadow: 0 0 0;
  border-radius: 0;
  background: transparent;
  color: #555555;
  padding: 7px 0;
  font-weight: bold;
  height:auto;
  font-family: 'Josefin Sans', sans-serif;
}

.login-form-1 .form-control::-webkit-input-placeholder {
  color: #999999;
}

.login-form-1 .form-control:-moz-placeholder,
.login-form-1 .form-control::-moz-placeholder,
.login-form-1 .form-control:-ms-input-placeholder {
  color: #999999;
  font-family: 'Josefin Sans', sans-serif;
}

.login-form-1 .form-group {
  margin-bottom: 0;
  border-bottom: 2px solid #efefef;
  padding-right: 20px;
  position: relative;
}

.login-form-1 .form-group:last-child {
  border-bottom: 0;
}

.login-group {
  background: #ffffff;
  color: #999999;
  border-radius: 8px;
  padding: 10px 20px;
}

.login-group-checkbox {
  padding: 5px 0;
}
/* Login Button */
.login-form-1 .login-button {
  position: absolute;
  right: -25px;
  top: 50%;
  background: #ffffff;
  color: #999999;
  padding: 11px 0;
  width: 50px;
  height: 50px;
  margin-top: -25px;
  border: 5px solid #efefef;
  border-radius: 50%;
  transition: all ease-in-out 500ms;
}

.login-form-1 .login-button:hover {
  color: #555555;
  transform: rotate(450deg);
}

.login-form-1 .login-button.clicked {
  color: #555555;
}

.login-form-1 .login-button.clicked:hover {
  transform: none;
}

.login-form-1 .login-button.clicked.success {
  color: #2ecc71;
}

.login-form-1 .login-button.clicked.error {
  color: #e74c3c;
}
.login-logo {
  font-size: 16px;
  font-family: 'Josefin Sans', sans-serif;
}
.etc-login-form {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
}
.modal {
  background-color: rgba(245, 245, 245, 0.7);
}
.close {
  font-size: 25px;
}
.etc-login-form .btn {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
}
/*****************/


/* shop styles */
.page-header {
  text-align: center;
  padding-top: 10px;
  color: #ef5092;
}

.cupcake-photo {
  margin-bottom: -90px;
}

input[type=number] {
  width: 50px;
  border: solid 4px #66ccff;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
}

button {
  background-color: #ef5092;
  border: solid 2px #ef5092;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
}

.shopping-cart {
  margin-left: 0 auto;
  margin-right: 0 auto;
  width: 70%;
}

.cart-table {
  height: 300px;
  background-color: #ed80b9;
  margin-bottom: 10px;
}

/*****************/
